<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roberto Carlos Galicia Lopez</title>
</head>
<body>
    <header class="header">
        <div class="title">
            <span id="header-title" >Roberto C.G.L</span>
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="root">
            <h1>hola</h1>
        </div>
    </main>
</body>
</html>